# .gitignore

client-*/
client/debug*/
client/release*/
client/object_script*
client/config.ini

server/authorized
server/stats
server-*/
server/debug*/
server/release*/

build*/
binary*/

ui_*.h
*.qm

Makefile*
*.user*

*.bak
*.tmp
*~
