html,body
{
    margin:0px;
    padding:0px;
	height: auto;
}

table
{
	border: 1px solid #000f6b;
	border-collapse:collapse;
	margin: 20px;
	padding: 0px;
	width: 100%;
	color: #000f6b;
	height: auto;
}

thead
{
	font-weight:bold;
}

td
{
	border: 1px solid #000f6b;
	margin: 0px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 2px;
}

#content
{
	display: table;
    width:760px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

#left
{
	display:table-cell;
    background-image:url("images/left.png");
    width:60px;
    height:100%;
}

#center
{
	display:table-cell;
    background-image:url("images/background.png");
    width:640px;
    height:auto;
}

#right
{
	display:table-cell;
    background-image:url("images/right.png");
    width:60px;
    height:100%;
}

#logo
{
    background-image:url("images/logo.png");
    width:640px;
    height:79px;
}


#document
{
   width:auto;
   padding-top:3px;
   padding-left:30px;
   padding-right:30px;
   height:auto;
   position:auto;
   float:left;
}

a{
    color:#8b4b00;
    text-decoration: none;
}

a:hover{
    color:#e47b00;
    text-decoration: underline;
}

p{
    color: #000f6b;
}

h2
{
    color: #000f6b;
    font-family:Arial;
    text-align:center;
    font-size:14pt;
}
